<div class="box">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <img src={{prd.imgUrl}} alt="">
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="info">
                <ul class="list-unstyled">
                    <li><strong>Name:</strong>{{prd.name}}</li>
                    <!-- <li><strong>Category:</strong></li> -->
                    <li><strong>Description:</strong>{{prd.description}}</li>
                    <!-- <li><strong>Rate:</strong></li> -->
                    <!-- <li><strong>Count:</strong></li> -->
                    <li><strong>Price:</strong>{{prd.price}} LE</li>
                </ul>
            </div>
        </div>
    </div>
</div>
